<div class="hero-unit">
  <h1>I can haz pony?</h1>
  <br>
  <p>
    <%= link_to new_pony_path, :class => "btn btn-primary btn-large" do %>
      <i class="icon-heart icon-white"></i>
      Yes you can!
    <% end -%>

    <%= link_to "Show me the ponies!", ponies_path, :class => "btn btn-info btn-large" %>
  </p>
</div>
